body {
    background-image: url("leaves.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    text-shadow: 2px 2px 8px black;

    font-family: "Cormorant Garamond", serif;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.45);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(3px);
}

h1 {
    font-size: 72px;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 2px;
    color: white;
}

input {
    width: 500px;
    padding: 18px;

    font-size: 22px;
    font-family: inherit;

    color: white;
    background: rgba(255, 255, 255, 0.12);

    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;

    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

input:focus {
    border-color: rgb(94, 89, 89);
}

.disclaimer {
    position: fixed;
    bottom: 20px;
    left: 50%;

    transform: translateX(-50%);

    width: 80%;
    max-width: 900px;

    text-align: center;

    font-size: 13px;
    color: rgba(255, 255, 255, 0.65);

    font-family: Arial, sans-serif;

    text-shadow: none;
}